<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jbamberger.irremote">

    <uses-permission android:name="android.permission.TRANSMIT_IR" />

    <uses-feature android:name="android.hardware.consumerir" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="de.jbamberger.irremote.service.RemoteNotificationService"
            android:enabled="true"
            android:icon="@drawable/ic_ir_remote_service"
            android:label="@string/service_name_control"
            android:process=":control_service" />

        <!--
        receiver
            android:name=".AutostartReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver
        -->

        <service
            android:name="de.jbamberger.irremote.service.tile.RemoteTileService"
            android:icon="@drawable/ic_tile"
            android:label="@string/tile_name_power"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="de.jbamberger.irremote.service.ir.IRSenderService"
            android:exported="false" />
    </application>

</manifest>